<!DOCTYPE html>
<html lang="en">

<head>
    <title>Book Reviewer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Book Reviewer: Welcome {{request.session.name}}</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/add">Add Book and Review</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Profile<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/{{request.session.id}}">Profile</a></li>
                        <li><a href="/users/{{request.session.id}}/update">Update</a></li>
                        <li><a href="/users/{{request.session.id}}/delete">Delete</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">
                <h2>Recent Book Reviews: </h2>
                <!-- edit for only the 3 most recently reviewed books-->
                {% if recent %}
                    {% for rating in recent%}
                        <h4><a href="/books/{{rating.rated_book.id}}">{{rating.rated_book.title}}</a><h4>
                        <p>Rating: {{rating.rate}}</p>
                        <p><a href="/users/{{rating.rater.id}}">{{rating.rater.first_name}} {{rating.rater.last_name}}</a> says: {{rating.review}}</p>
                    {% endfor %}
                {% endif %}
                {% if not books%}
                    <p>No reviewed books yet | <a href="/add">Add a book to review</a> | Or review an existing book</p>
                {% endif %}
            </div>
            <div class="col-sm-4">
                <h2>Other Books with Reviews:</h2>
                <!-- edit for only books not reviewed by user and for listed books to link to book display -->
                {% if books %}
                    {% for book in books%}
                        <a href="/books/{{book.id}}">{{book.title}}</a> <br>
                    {% endfor %}
                {% endif %}
                {% if not books%}
                    <p>No reviewed books yet | <a href="/add">Add a book?</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>